.demo {
  color: #fff;
  font-size: 6rem;
  overflow: hidden;
  padding: 2rem 4rem;
  position: relative;
  text-align: center;
}

.demo:before {

  background: #3991AE;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.demo span {
  display: inline-block;
  transform: scale(1);
}

.text-part-1 {

}

.text-part-2 {

}

