.demo {
  margin: 0 auto;
  max-width: 80rem;
}

.content {
  border-radius: 1rem;
  margin: 2rem;
  padding: 4rem 2rem;
  text-align: left;
  transform: translateZ(1rem);

  p {
    color: #222;
    font-size: 2rem;
  }
}

.circle {
  animation: spin 2s linear infinite;
  background: rgba(255,255,255,0.3);
  border-radius: 50%;
  height: 200vw;
  left: -50%;
  position: absolute;
  top: 40%;
  transform: translateX(-50%);
  width: 200%;
}

.one {
  transform-origin: 50% 47%;
  animation-delay: .2s;
  width: 180%;
}

.two {
  transform-origin: 50% 49%;
  animation-delay: .4s;
  width: 200%;
}

.three {
  transform-origin: 50% 52%;
  animation-delay: .6s;
  width: 220%;
}

.four {
  transform-origin: 50% 50.5%;
  animation-delay: .1s;
  width: 220%;
}

.five {
  transform-origin: 50% 48.5%;
  animation-delay: .2s;
  width: 220%;
}

.six {
  transform-origin: 50% 47.5%;
  animation-delay: .3s;
  width: 220%;
}

@keyframes spin {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(180deg) scale(1.05);
  }
  100% {
    transform: rotateZ(360deg);
  }
}