.demo {
  margin: 0 auto;
  max-width: 80rem;
}

.content {
  border-radius: 1rem;
  margin: 2rem;
  padding: 4rem 2rem;
  text-align: left;
  -webkit-transform: translateZ(1rem);
          transform: translateZ(1rem);
}

.content p {
  color: #222;
  font-size: 2rem;
}

.circle {
  -webkit-animation: spin 12s linear infinite;
          animation: spin 12s linear infinite;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  height: 200vw;
  left: -50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200%;
}

.one {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-transform-origin: 50% 47%;
          transform-origin: 50% 47%;
  width: 180%;
}

.two {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-transform-origin: 50% 49%;
          transform-origin: 50% 49%;
  width: 200%;
}

.three {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-transform-origin: 50% 52%;
          transform-origin: 50% 52%;
  width: 220%;
}

.four {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  -webkit-transform-origin: 50% 50.5%;
          transform-origin: 50% 50.5%;
  width: 220%;
}

.five {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-transform-origin: 50% 48.5%;
          transform-origin: 50% 48.5%;
  width: 220%;
}

.six {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-transform-origin: 50% 47.5%;
          transform-origin: 50% 47.5%;
  width: 220%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: rotateZ(180deg) scale(1.05);
            transform: rotateZ(180deg) scale(1.05);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: rotateZ(180deg) scale(1.05);
            transform: rotateZ(180deg) scale(1.05);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}